<h2>{{t 'how_it_works.title'}}</h2>
<ol class="how-it-works">
  {{#each steps as |index|}}
    {{#if (t (concat 'how_it_works.steps.' index))}}
      <li>{{t (concat 'how_it_works.steps.' index)}}</li>
    {{/if}}
  {{/each}}
</ol>

<h2>{{t 'what_is_flatter.title'}}</h2>
{{t 'what_is_flatter.text'}}

<h2>{{t 'search.title'}}</h2>
<div class="card">
  {{input class="input" value=code placeholder=(t 'search.type_code')}}
</div>
{{choose-action card=card}}

<h2>{{t 'order.title'}}</h2>
{{t 'order.text'}}

{{order-cards}}

<h2>{{t 'faq.title'}}</h2>
{{t 'faq.text'}}
