<h2>{{t 'messages.title'}}</h2>

{{#each model.card.messages as |message|}}
  <p>From {{message.from}}: {{message.message}}</p>
{{/each}}

{{#if error}}
  <p>{{error}}</p>
{{/if}}

{{textarea value=message}}

<p><a class="button" {{action 'save'}}>Save</a></p>
