<header>
  <div class="container">
    <h1>{{#link-to 'index'}}flatter.cards{{/link-to}}</h1>
  </div>
</header>

<main class="container">
  {{#if alert}}
    <p>
      <a {{action 'changeLang' 'en'}}>Change to English</a>?
      Of ben je <a {{action 'changeLang' 'nl'}}>Nederlands</a>.
    </p>
  {{/if}}

  {{outlet}}
</main>

<footer>
  <div class="container">
    <p>
      {{t 'change_language'}} {{language-select}}
      -
      <strong>Flatter</strong>.cards {{t 'by'}}
      <a href="http://adriaan.io">Adriaan van Rossum</a>
    </p>
  </div>
</footer>
