<header>
  <div class="container">
    <h1>{{#link-to 'index'}}flatter.cards{{/link-to}}</h1>
  </div>
  <nav>
    <ul>
      <li>{{#link-to 'index'}}{{t 'nav.how'}}{{/link-to}}</li>
      <li>{{#link-to 'what'}}{{t 'nav.what'}}{{/link-to}}</li>
      <li>{{#link-to 'search'}}{{t 'nav.search'}}{{/link-to}}</li>
      <li>{{#link-to 'order'}}{{t 'nav.order'}}{{/link-to}}</li>
      <li>{{#link-to 'faq'}}{{t 'nav.faq'}}{{/link-to}}</li>
    </ul>
  </nav>
</header>

<main class="container">
  {{#if alert}}
    <p>
      <a {{action 'changeLang' 'en'}}>Change to English</a>?
      Of ben je <a {{action 'changeLang' 'nl'}}>Nederlands</a>.
    </p>
  {{/if}}

  {{outlet}}
</main>

<footer>
  <div class="container">
    <p>
      <strong>Flatter</strong>.cards, {{t 'created_by'}}
      <a href="http://adriaan.io">Adriaan van Rossum</a>
    </p>
    <p class="divider">—</p>
    <p class="change-language">
      {{t 'change_language'}} {{language-select}}
    </p>
  </div>
</footer>
